.doc {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  height: 100%;
  flex-wrap: wrap;

  div {
    margin: 40px;
    width: 200px;
    height: 100px;
    line-height: 100px;
    background-color: #61dafb;
    cursor: pointer;
  }

  a {
    color: black;
  }
}