#img-origin {
  height: 400px;
  width: 300px;
  position: absolute;
  left: 100px;
  top: 100px;
  background-size: 100% 50%;
}

#img-origin img {
  height: 100%;
  width: 100%;
  display: block;
}

#mask {
  display: none;
  height: 100px;
  width: 100px;
  border: 1px solid rgb(102, 102, 102);
  background-color: rgba(221, 160, 221, 0.4);
  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: 0;
}

#img-aft {
  display: none;
  height: 400px;
  width: 400px;
  border: 1px solid black;
  position: absolute;
  left: 500px;
  top: 100px;
  overflow: hidden;
}

#img-aft img {
  position: absolute;
  height: 1600px;
  width: 1200px;
}